<a href="https://colab.research.google.com/github/raghavmundra/Covid_Data_Visualiztion/blob/main/covid_data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importing required libraries

In [1]:
import pandas as pd
from bs4 import *
import requests
import json

##Webscrapping data

In [2]:
#Fetching covid vaccination data
path1='https://www.mygov.in/sites/default/files/covid/vaccine/vaccine_counts_today.json'
page1 = requests.get(path1)
soup1 = BeautifulSoup(page1.content, 'html.parser')
site_json=json.loads(soup1.text)
site_json['vacc_st_data'][0]
vaccine_data=pd.DataFrame(columns=['state','dose1','dose2','total_doses'])
c=0
for i in site_json['vacc_st_data']:
  vaccine_data.loc[c]=[i['covid_state_name'],i['dose1'],i['dose2'],i['total_doses']]
  c+=1
#Fetching covid cases data
path2='https://www.mygov.in/sites/default/files/covid/covid_state_counts_ver1.json'
page2 = requests.get(path2)
soup2 = BeautifulSoup(page2.content, 'html.parser')
site_json2=json.loads(soup2.text)
active_cases=site_json2['Active']
state_names=site_json2['Name of State / UT']
total_deaths=site_json2['Death']
cured_cases=site_json2['Cured/Discharged/Migrated']
total_cases=site_json2['Total Confirmed cases']
covid_data=pd.DataFrame(columns =['state', 'total_cases','active_cases','discharged_cases','total_deaths'])
covid_data.loc[0]=[state_names['0'],total_cases['0'],active_cases['0'],cured_cases['0'],total_deaths['0']]
for i in range(0,36):
  covid_data.loc[i]=[state_names[str(i)],total_cases[str(i)],active_cases[str(i)],cured_cases[str(i)],total_deaths[str(i)]]

##Data Exploration

In [3]:
covid_data

                                       state  ... total_deaths
0                        Andaman and Nicobar  ...          129
1                             Andhra Pradesh  ...        14333
2                          Arunachal Pradesh  ...          280
3                                      Assam  ...         5964
4                                      Bihar  ...         9661
5                                 Chandigarh  ...          820
6                               Chhattisgarh  ...        13572
7   Dadra and Nagar Haveli and Daman and Diu  ...            4
8                                      Delhi  ...        25091
9                                        Goa  ...         3357
10                                   Gujarat  ...        10087
11                                   Haryana  ...        10049
12                          Himachal Pradesh  ...         3733
13                         Jammu and Kashmir  ...         4429
14                                 Jharkhand  ...         5135
15                                 Karnataka  ...        37995
16                                    Kerala  ...        27765
17                                    Ladakh  ...          208
18                               Lakshadweep  ...           51
19                               Maharashtra  ...       139965
20                                   Manipur  ...         1907
21                                 Meghalaya  ...         1443
22                                   Mizoram  ...          400
23                            Madhya Pradesh  ...        10523
24                                  Nagaland  ...          678
25                                    Odisha  ...         8301
26                                Puducherry  ...         1853
27                                    Punjab  ...        16551
28                                 Rajasthan  ...         8954
29                                    Sikkim  ...          393
30                                Tamil Nadu  ...        35987
31                                 Telengana  ...         3944
32                                   Tripura  ...          816
33                             Uttar Pradesh  ...        22899
34                               Uttarakhand  ...         7398
35                               West Bengal  ...        19033

[36 rows x 5 columns]

In [4]:
vaccine_data

                                       state     dose1     dose2 total_doses
0                        Andaman and Nicobar    292988    186655      479643
1                             Andhra Pradesh  31444989  18032266    49477255
2                          Arunachal Pradesh    768011    507279     1275290
3                                      Assam  19853518   7072829    26926347
4                                      Bihar  48394063  15912408    64306471
5                                 Chandigarh    921706    521520     1443226
6                               Chhattisgarh  14415425   6646148    21061573
7   Dadra and Nagar Haveli and Daman and Diu    657198    352146     1009344
8                                      Delhi  12867945   7104856    19972801
9                                        Goa   1252224    851685     2103909
10                                   Gujarat  44308197  24032589    68340786
11                                   Haryana  17580989   7677070    25258059
12                          Himachal Pradesh   5698536   3179968     8878504
13                         Jammu and Kashmir   9469202   4650081    14119283
14                                 Jharkhand  14616783   5048257    19665040
15                                 Karnataka  41772114  21248322    63020436
16                                    Kerala  25175697  12709474    37885171
17                                    Ladakh    208209    149523      357732
18                               Lakshadweep     55049     45037      100086
19                            Madhya Pradesh  49722785  18380802    68103587
20                               Maharashtra  65231520  29350149    94581669
21                                   Manipur   1240398    635831     1876229
22                                 Meghalaya   1094538    594239     1688777
23                                   Mizoram    707172    500507     1207679
24                                  Nagaland    704359    464548     1168907
25                                    Odisha  24879861  10493417    35373278
26                                Puducherry    724326    380189     1104515
27                                    Punjab  15688144   5961795    21649939
28                                 Rajasthan  42228564  19118798    61347362
29                                    Sikkim    520901    436481      957382
30                                Tamil Nadu  39779159  14726638    54505797
31                                 Telengana  21262277   8625048    29887325
32                                   Tripura   2503546   1532019     4035565
33                             Uttar Pradesh  95441355  29007645   124449000
34                               Uttarakhand   7448839   3598948    11047787
35                               West Bengal  51245364  19316609    70561973
36                             Miscellaneous   2237405   1563279     3800684