<a href="https://colab.research.google.com/github/raghavmundra/Covid_Data_Visualiztion/blob/main/covid_data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importing required libraries

In [ ]:
import pandas as pd
from bs4 import *
import requests
import json
import folium
import geopy
from geopy.geocoders import Nominatim

##Webscrapping data

In [ ]:
#Fetching covid vaccination data
path1='https://www.mygov.in/sites/default/files/covid/vaccine/vaccine_counts_today.json'
page1 = requests.get(path1)
soup1 = BeautifulSoup(page1.content, 'html.parser')
site_json=json.loads(soup1.text)
site_json['vacc_st_data'][0]
vaccine_data=pd.DataFrame(columns=['state','dose1','dose2','total_doses'])
c=0
for i in site_json['vacc_st_data']:
  vaccine_data.loc[c]=[i['covid_state_name'],i['dose1'],i['dose2'],i['total_doses']]
  c+=1
#Fetching covid cases data
path2='https://www.mygov.in/sites/default/files/covid/covid_state_counts_ver1.json'
page2 = requests.get(path2)
soup2 = BeautifulSoup(page2.content, 'html.parser')
site_json2=json.loads(soup2.text)
active_cases=site_json2['Active']
state_names=site_json2['Name of State / UT']
total_deaths=site_json2['Death']
cured_cases=site_json2['Cured/Discharged/Migrated']
total_cases=site_json2['Total Confirmed cases']
covid_data=pd.DataFrame(columns =['state', 'total_cases','active_cases','discharged_cases','total_deaths'])
covid_data.loc[0]=[state_names['0'],total_cases['0'],active_cases['0'],cured_cases['0'],total_deaths['0']]
for i in range(0,36):
  covid_data.loc[i]=[state_names[str(i)],total_cases[str(i)],active_cases[str(i)],cured_cases[str(i)],total_deaths[str(i)]]

##Data Exploration

In [ ]:
covid_data

                                       state  ... total_deaths
0                        Andaman and Nicobar  ...          129
1                             Andhra Pradesh  ...        14367
2                          Arunachal Pradesh  ...          280
3                                      Assam  ...         5992
4                                      Bihar  ...         9661
5                                 Chandigarh  ...          820
6                               Chhattisgarh  ...        13575
7   Dadra and Nagar Haveli and Daman and Diu  ...            4
8                                      Delhi  ...        25091
9                                        Goa  ...         3363
10                                   Gujarat  ...        10088
11                                   Haryana  ...        10049
12                          Himachal Pradesh  ...         3748
13                         Jammu and Kashmir  ...         4432
14                                 Jharkhand  ...         5138
15                                 Karnataka  ...        38061
16                                    Kerala  ...        31156
17                                    Ladakh  ...          208
18                               Lakshadweep  ...           51
19                               Maharashtra  ...       140170
20                                   Manipur  ...         1919
21                                 Meghalaya  ...         1449
22                                   Mizoram  ...          427
23                            Madhya Pradesh  ...        10524
24                                  Nagaland  ...          684
25                                    Odisha  ...         8325
26                                Puducherry  ...         1857
27                                    Punjab  ...        16557
28                                 Rajasthan  ...         8954
29                                    Sikkim  ...          395
30                                Tamil Nadu  ...        36083
31                                 Telengana  ...         3954
32                                   Tripura  ...          816
33                             Uttar Pradesh  ...        22900
34                               Uttarakhand  ...         7400
35                               West Bengal  ...        19113

[36 rows x 5 columns]

In [ ]:
vaccine_data

                                       state     dose1     dose2 total_doses
0                        Andaman and Nicobar    293904    198731      492635
1                             Andhra Pradesh  32814038  20072881    52886919
2                          Arunachal Pradesh    771430    531959     1303389
3                                      Assam  20106832   7902711    28009543
4                                      Bihar  49637936  18014002    67651938
5                                 Chandigarh    925246    541908     1467154
6                               Chhattisgarh  14777967   7226577    22004544
7   Dadra and Nagar Haveli and Daman and Diu    660648    369465     1030113
8                                      Delhi  13013583   7364070    20377653
9                                        Goa   1258903    892242     2151145
10                                   Gujarat  44673748  25591720    70265468
11                                   Haryana  17743678   8052991    25796669
12                          Himachal Pradesh   5711374   3401299     9112673
13                         Jammu and Kashmir   9505385   5039761    14545146
14                                 Jharkhand  14903440   5480472    20383912
15                                 Karnataka  42408235  22680416    65088651
16                                    Kerala  25281051  13499908    38780959
17                                    Ladakh    208752    152006      360758
18                               Lakshadweep     55086     45832      100918
19                            Madhya Pradesh  49869109  20209648    70078757
20                               Maharashtra  66908849  30750033    97658882
21                                   Manipur   1247600    702685     1950285
22                                 Meghalaya   1102153    637212     1739365
23                                   Mizoram    711341    511799     1223140
24                                  Nagaland    709066    488677     1197743
25                                    Odisha  25614153  11391448    37005601
26                                Puducherry    733096    401638     1134734
27                                    Punjab  15907330   6194617    22101947
28                                 Rajasthan  42489785  19902398    62392183
29                                    Sikkim    521708    450711      972419
30                                Tamil Nadu  40797604  16634426    57432030
31                                 Telengana  22243359   9580708    31824067
32                                   Tripura   2508070   1613685     4121755
33                             Uttar Pradesh  97888816  32239878   130128694
34                               Uttarakhand   7473342   3844544    11317886
35                               West Bengal  55226050  21196433    76422483
36                             Miscellaneous   2237436   1564383     3801819

In [ ]:
covid_data[['dose1','dose2','total_doses']] = vaccine_data[['dose1','dose2','total_doses']]
covid_data.head()

                 state total_cases active_cases  ...     dose1     dose2 total_doses
0  Andaman and Nicobar        7651            5  ...    293904    198731      492635
1       Andhra Pradesh     2065716         4837  ...  32814038  20072881    52886919
2    Arunachal Pradesh       55143          108  ...    771430    531959     1303389
3                Assam      610150         3791  ...  20106832   7902711    28009543
4                Bihar      726085           45  ...  49637936  18014002    67651938

[5 rows x 8 columns]

##Date Visualization

In [ ]:
india=folium.Map(location = [22,78.9629],zoom_start=4.5)

In [ ]:
geolocator = Nominatim(timeout=10, user_agent = "myGeolocator")
covid_data['gcode'] = covid_data.state.apply(geolocator.geocode)
covid_data['lat'] = [g.latitude for g in covid_data.gcode]
covid_data['long'] = [g.longitude for g in covid_data.gcode]
covid_data.head()

                 state total_cases  ...        lat       long
0  Andaman and Nicobar        7651  ...  10.000105  93.000019
1       Andhra Pradesh     2065716  ...  15.924091  80.186381
2    Arunachal Pradesh       55143  ...  28.093770  94.592133
3                Assam      610150  ...  26.407384  93.255130
4                Bihar      726085  ...  25.644085  85.906508

[5 rows x 11 columns]

In [ ]:
for state,lat,long,total_cases,Death,Recov,Active,dose1,dose2,totaldoses in zip(list(covid_data['state']),list(covid_data['lat']),list(covid_data['long']),
                                                         list(covid_data['total_cases']),list(covid_data['total_deaths']),list(covid_data['discharged_cases']),
                                                         list(covid_data['active_cases']),list(covid_data['dose1']),list(covid_data['dose2']),
                                                         list(covid_data['total_doses'])):
    #for creating circle marker
    folium.CircleMarker(location = [lat,long],
                       radius = 5,
                       color='red',
                       fill = True,
                       fill_color="red").add_to(india)
    #for creating marker
    folium.Marker(location = [lat,long],
                  # adding information that need to be displayed on popup
                  popup=folium.Popup(('<strong><b>State  : '+state+'</strong> <br>' +
                    '<strong><b>Total Cases : '+total_cases+'</strong><br>' +
                    '<strong><font color= red>Deaths : </font>'+Death+'</strong><br>' +
                    '<strong><font color=green>Recoveries : </font>'+Recov+'</strong><br>' +
                    '<strong><b>Active Cases : '+Active+'</strong><br>'+
                    '<strong><b><font color=green>Vaccine data : </font></strong> <br>' +
                    '<strong><b>Dose 1 : '+dose1+'</strong><br>' +
                    '<strong><b>Dose 2  : '+dose2+'</strong><br>' +
                    '<strong><b>Total Doses : '+totaldoses+'</strong><br>'),max_width=200)).add_to(india)

In [ ]:
india.save(outfile= "test.html")

In [ ]:
covid_data['Country']='India'

                 state total_cases active_cases  ...        lat       long Country
0  Andaman and Nicobar        7651            5  ...  10.000105  93.000019   India
1       Andhra Pradesh     2065716         4837  ...  15.924091  80.186381   India
2    Arunachal Pradesh       55143          108  ...  28.093770  94.592133   India
3                Assam      610150         3791  ...  26.407384  93.255130   India
4                Bihar      726085           45  ...  25.644085  85.906508   India

[5 rows x 12 columns]

##Saving file for tableau :
https://public.tableau.com/app/profile/raghav.mundra/viz/CovidData_16356264427820/Dashboard1

In [ ]:
covid_data.to_csv("./drive/My Drive/Covid_live_data.csv")